@page "/"

<PageTitle>Home</PageTitle>

<h1>Team I's CS4091 Air-To-Ground Search Solution</h1>

<p>
    Welcome to Team I's CS4091 Air-To-Ground Search Solution. This solution is designed to help you generate a grid for
    a search area and then search that area using a variety of search patterns.
</p>

<p>
    This project was created by:
<ul>
    <li><a href="https://www.github.com/wiidler" target="_blank">Will Weidler</a></li>
    <li><a href="https://www.asuschromebox.com" target="=_blank">Donovan Bale</a></li>
    <li>Brennen Crawford</li>
    <li>Bailey Schoenike</li>
    <li>Lucas Wiley</li>
</ul>
</p>

<p>
    To get started, click on the "Generate Grid" link in the navigation menu to generate a grid for your search area.
</p>
